<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/nnacer/workspaceFormation/AvitoProject">
    <classes><class name="tests.TestClass"><methods><include name="ScenaroiVerificationTitre"/><include name="ScenarioLogin"/></methods>
    </class><class name="tests.TestClass2"><methods><include name="scenarioCreatioCompte"/></methods></class>
    </classes></test></suite>